
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.Home_container__bCOhY{
  padding: 0 !important;
}

* {
  box-sizing: border-box;
}

.map-selected {
  fill: #E3DA37 !important;
}

.map-unselected {
  fill: #699EAA !important;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer !important;
}

/* .....................................HEADER...................................... */

.header-main-div{
  width: 100% !important;
  height: 150px !important;
  justify-content: space-between !important;
  display: flex !important;
  align-items: center !important;
}

.header-log-div{
  width: 250px !important;
  height: auto !important;
}

.logo-img-div{
  width: 100% !important;
  height: auto !important;
}

@media(max-width:425px){
  .logo-img-div{
    transform: scale(0.8) !important;
  }
}

.header-links-1{
  display: flex !important;
  justify-content: space-between !important;
  width: 400px !important;
height: 70px !important;
margin-left: 60px !important;
align-items: flex-start !important;
}

.hamburger-icon{
  transform: scale(1.4) !important;
}


.header-links-2{
  display: flex !important;
  justify-content: space-between !important;
  width: 500px !important;
}

.header-content{
  display: grid !important;
justify-content: center !important;
}

.slick-prev:before{
  color: rgb(228, 228, 228) !important;
  font-size: 35px !important;
  font-family: none !important;
}

.slick-next:before {
  color: rgb(228, 228, 228) !important;
  font-size: 35px !important;
  font-family: none !important;
}

.slick-next {
  right: 60px !important;
  top: -67% !important;
width: 70px !important;
height: 55px !important;
/* background-color: gray !important; */
align-items: center !important;
display: flex !important;
justify-content: center !important;
border-radius: 0px 50px 50px 0px !important;
border: 1px solid rgb(228, 228, 228) !important;
transition: 0.3s ease !important;
}

.slick-next:hover{
  background-color: #FF3823 !important;
transition: 0.3s ease !important;
}

.slick-prev{
  left: 952px !important;
  top: -67% !important;
  width: 70px !important;
  height: 55px !important;
  /* background-color: gray !important; */
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 50px 0px 0px 50px !important;
  border: 1px solid rgb(228, 228, 228) !important;
  transition: 0.3s ease !important;

}
.slick-prev:hover{
  background-color: #FF3823 !important;
transition: 0.3s ease !important;
}

@media(max-width:1200px){
  .slick-next {
    right: 20px !important;
    top: 90% !important;
  
  }
  
  .slick-prev{
    left: 20px !important;
    top: 90% !important;
  
  }
}
@media(max-width:425px){
  .slick-next {
    right: 25px !important;
    top: 85% !important;
  
  }
  
  .slick-prev{
    left: 10px !important;
    top: 85% !important;
  
  }
}


.header-link-text{
  font-weight: 700 !important;
  font-size: 18px !important;
  color: #3d1212 !important;
  text-transform: uppercase !important;
  /* margin-left: 24px !important; */
  -webkit-transition: .2s all !important;
  transition: .2s all !important;
  cursor: pointer !important;
transition: 0.2s ease-in !important;
}

.header-link-text:hover{
  transition: 0.2s ease-in !important;
  color: #793333 !important;
}

.header-link-text-1{
  color: #1a1515 !important;
  text-transform: capitalize !important;
  cursor: pointer !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  letter-spacing: 0.00938em !important;
  display: flex !important;
  justify-content: center !important;
}

.hamburger{
  display: none !important;
}



@media(max-width:899px){
  .hamburger{
    display: contents !important;
  }

  .header-content{
    display: none !important;
  }

  .modal-display-none{
    display: none !important;
  }

}
.modal-english{
  color: #fff !important;
  font-size: 60px !important;
  font-weight: 500 !important;
  /* border-bottom: 2px solid #fff !important; */
}

.modal-close-btn{

  color: #fff !important;
  background-color: #FF3823 !important;
  border-color: #FF3823 !important;
  cursor: pointer !important;
  border-radius: 35px !important;
  height: 58px !important;
  padding: 0 50px !important;
  min-width: 185px !important;
  line-height: 58px !important;
  text-align: center !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 17px !important;
border: none !important;
}

.modal-language-text{
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #fff !important;
  display: block !important;
  margin-bottom: 25px !important;
  margin-left: 10px !important;
}

/* .....................................HEADER...................................... */


/* ........................................Section1.................................... */


.section1-items{
  justify-content: center !important;
  text-align: center !important;
  margin-top: 120px !important;
}

@media(max-width:425px){
  .section1-items{
    margin-top: 70px !important;
  }
}

.section1-text-1{
  text-align: center !important;
  font-size: calc(1.325rem + .9vw) !important;
  font-weight: 700 !important;
  /* font-family: 'Roboto', sans-serif !important; */
text-transform: capitalize !important;
color: #212529 !important;

}

.section1-text-2{
  line-height: 1.2 !important;
  font-size: 15px !important;
  color: #1f365c !important;
  font:  'Urbanist', sans-serif !important;
text-transform: capitalize !important;
letter-spacing: -0.5px !important;
}

.count-up-text{
  text-align: center !important;
    font-size: 35px !important;
    font-weight: 700 !important;
    /* font-family: 'Roboto', sans-serif !important; */

}

/* ........................................Section1.................................... */


/* ...........................................Section2.................................... */


.section2-item{
  width: 100% !important;
  /* height: 500px !important; */
  height: auto !important;
  border: 1px solid rgba(128, 128, 128, 0.322) !important;
  border-radius: 10px !important;
  /* background-color: yellow !important; */
  padding: 0px !important;
  padding-bottom: 10px !important;
  margin-bottom: 80px !important;
  box-shadow: 0px 13px 16px 0px rgb(0 0 0 / 4%) !important;
}

.section2-item-container{
  width: 100% !important;
  height: 200px !important;
  /* background-color: red !important; */
  margin: 0px !important;

}



.section2-img-1:hover .hover-text{
  opacity: 1 !important;
}

.section2-img-1:hover .section2-button{
  margin-bottom: 80px !important;
  transition: 0.2s ease !important;
}
.section2-img-1{
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section2img1.jpg') !important;
border: 3px solid #fff !important;
justify-content: center !important;
align-items: center !important;
display: flex !important;
transition: 0.4s !important;
opacity: 1 !important;
transition: .5s ease !important;
text-align: center !important;
}
.section2-img-1:hover{
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.733) 0%, rgba(226, 226, 226, 0.439) 100%), url('../public/images/section2img1.jpg') !important;
  transition: 0.4s !important;
cursor: pointer !important;

}

.section-2-display-flex{
  display: flex !important;
  justify-content: space-between !important;
}

@media(max-width:700px){
  .section-2-display-flex{
    display: grid !important;
    justify-content: center!important;
  }
}


.hover-text{
  transition: .5s ease !important;
  opacity: 0 !important;
  position: absolute !important;
  text-align: center !important;
  color: black !important;
  padding-top: 20px !important;
  text-transform: capitalize !important;
cursor: pointer !important;

}

.hover-heading{
  color: black !important;
  font-size: 13px !important;
cursor: pointer !important;
  
}


.section2-item-heading{
  width: 100% !important;
  align-items: center !important;
  display: flex !important;
  padding-left: 50px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.section2-item-heading2{
  width: 100% !important;
  align-items: center !important;
  display: flex !important;
  padding-left: 50px !important;
  padding-top: 50px !important;
}
.section2-item-heading3{
padding: 50px !important;
}

@media(max-width:425px){
  .section2-item-heading3{
    justify-content: center !important;
    display: flex !important;

  }
}

.section6-item-heading3{
  padding: 30px !important;
border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
/* padding: 45px 0 45px 55px !important; */
}


.section2-item-text{
  color: #1D2A4B !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  margin-bottom: 50px !important;
  display: inline-block !important;
  border-bottom: 4px solid #f4a215 !important;
  letter-spacing: 0px !important;
}

@media(max-width:485px){
  .section2-item-text{
    font-size: 22px !important;
    border-bottom: 2px solid #f4a215 !important;
    text-align: center !important;
    margin-top: 10px !important;
  }

  .section2-item-heading{
text-align: center !important;
  padding-left: 0px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  justify-content: center !important;
  display: flex !important;
}

.section2-item-heading2{
  padding-left: 0px !important;
  padding-top: 20px !important;
text-align: center !important;
justify-content: center !important;
display: flex !important;
}
}

.section2-item-text3{
  color: #1D2A4B !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  margin-bottom: 50px !important;
  display: inline-block !important;
  border-bottom: 4px solid #f4a215 !important;
  letter-spacing: 0px !important;
}

@media(max-width:425px){
  .section2-item-text3 {
    font-size: 20px !important;
    text-align: center !important;
    margin-bottom: 10px !important;
  }
}

.section6-item-text3{
  color: #1D2A4B !important;
  font-weight: 700 !important;
  font-size: 30px !important;
  border-bottom: 4px solid #f4a215 !important;
  width: 60% !important;
  margin-bottom: 30px !important;
}

@media(max-width:425px){
  .section6-item-text3{
    font-size: 20px !important;
    width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
    display: flex !important;
    margin-bottom: 50px !important;
  }
  .sectors-heading-text{
    text-align: center !important;
  }
}





.section2-img-2{
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  transition: 0.4s !important;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section2img2.jpg') !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
border: 3px solid #fff !important;
opacity: 1 !important;
transition: .5s ease !important;
text-align: center !important;
}
.section2-img-2:hover{
cursor: pointer !important;

  transition: 0.4s !important;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.733) 0%, rgba(226, 226, 226, 0.439) 100%), url('../public/images/section2img2.jpg') !important;
}

.section2-img-2:hover .hover-text{
  opacity: 1 !important;
cursor: pointer !important;

}

.section2-img-2:hover .section2-button{
  margin-bottom: 80px !important;
  transition: 0.2s ease !important;
cursor: pointer !important;

}

.section2-img-3{
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section2img3.jpg') !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
border: 3px solid #fff !important;
transition: 0.4s !important;
opacity: 1 !important;
transition: .5s ease !important;
text-align: center !important;
}
.section2-img-3:hover{
  transition: 0.4s !important;
cursor: pointer !important;

  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.733) 0%, rgba(226, 226, 226, 0.439) 100%), url('../public/images/section2img3.jpg') !important;
}
.section2-img-3:hover .hover-text{
  opacity: 1 !important;
cursor: pointer !important;

}

.section2-img-3:hover .section2-button{
  margin-bottom: 80px !important;
  transition: 0.2s ease !important;
cursor: pointer !important;

}


.section2-img-4{
  transition: 0.4s !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section2img4.jpg') !important;
  
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
border: 3px solid #fff !important;
opacity: 1 !important;
transition: .5s ease !important;
text-align: center !important;
}
.section2-img-4:hover{
cursor: pointer !important;

  transition: 0.4s  !important;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.733) 0%, rgba(226, 226, 226, 0.439) 100%), url('../public/images/section2img4.jpg') !important;
}

.section2-img-4:hover .hover-text{
  opacity: 1 !important;
}

.section2-img-4:hover .section2-button{
  margin-bottom: 80px !important;
  transition: 0.2s ease !important;
}

.section2-button{
  background: linear-gradient(315deg, #c1601d, #e49e46) !important;
  padding: 0.4rem 1rem !important;
  width: auto !important;
  border-radius: 0rem 2rem !important;
  text-shadow: 0px 1px 3px rgb(0 0 0 / 22%) !important;
  color: #ffffff !important;
  transition: 0.2s ease !important;

}


.section2-btn-text{
  font-size: 13px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.section2-border-bottom{
  border-bottom: 1px solid #cacaca !important;
  width: 70% !important;
  padding-top: 70px !important;
}

.section2-border-main{
  width: 100% !important;
  justify-content: center !important;
  display: flex !important;
}

.section2-img-div-2{
max-height: 150px !important;
width: auto !important;
  justify-content: center !important;
  align-items: center !important;
  display: grid !important;
  transition: 0.2s ease-in !important;
  padding-top: 90px !important;
  opacity: 1 !important;
  transition: 0.3s ease-in !important;
cursor: pointer !important;
padding-bottom: 40px !important;

}

.section2-img-div-4{
  max-height: 150px !important;
  width: auto !important;
    justify-content: center !important;
    align-items: center !important;
    display: grid !important;
    transition: 0.2s ease-in !important;
    padding-top: 90px !important;
    opacity: 1 !important;
    transition: 0.3s ease-in !important;
  cursor: pointer !important;
  padding-bottom: 40px !important;
  padding-left: 60px !important;
  }

.section2-display{
  display: grid !important;
  opacity: 1 !important;
  justify-content: right !important;
  padding: 0px !important;
  margin-left: 60px !important;
  width: 100px !important;
  height: auto !important;
}

.section2-display2{
  display: grid !important;
  opacity: 1 !important;
  justify-content: right !important;
  padding: 0px !important;
  margin-left: 60px !important;
  /* width: 100px !important; */
  /* height: auto !important; */
  margin-bottom: 60px !important;
}



.section2-img-div-2:hover .hover-text-2{
display: grid !important;
transition: 0.5s ease !important;
}
.section2-img-div-4:hover .hover-text-2{
  display: grid !important;
  transition: 0.5s ease !important;
  }

.hover-text-2{
  color: #929292 !important;
  font-size: 10px !important; 
  display: none !important;
  text-transform: capitalize !important;
transition: 0.5s ease !important;

}

.section2-2-text{
  font-weight: 700 !important;
  line-height: 18px !important;
  color: #1D2A4B !important;
  font-size: 17px !important;
  padding-left: 20px !important;
}

.CORPORATENESS{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-left: 50px !important;

}
.PERFECTION{
  margin-left: 25px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.RESPONSIBILITY{
  margin-left: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

@media(max-width:425px){
  .CORPORATENESS{
    margin: 0px !important;
  }

  .section2-img-div-2{
    max-height: 150px !important;
    width: auto !important;
      justify-content: center !important;
      align-items: center !important;
      display: grid !important;
      transition: 0.2s ease-in !important;
      padding-top: 50px !important;
      opacity: 1 !important;
      transition: 0.3s ease-in !important;
    cursor: pointer !important;
    padding-bottom: 40px !important;
    padding-right: 35px !important;
    }
    
    .section2-img-div-4{
      max-height: 150px !important;
      width: auto !important;
        justify-content: center !important;
        align-items: center !important;
        display: grid !important;
        transition: 0.2s ease-in !important;
        padding-top: 50px !important;
        opacity: 1 !important;
        transition: 0.3s ease-in !important;
      cursor: pointer !important;
      padding-bottom: 40px !important;
      padding-left: 0px !important;
      }
    
  
}

.section2-img-div-2:hover{
  transform: translateY(-20px) !important;
  transition: 0.3s ease-in !important;
}

.section2-img-div-4:hover{
  transform: translateY(-20px) !important;
  transition: 0.3s ease-in !important;
}

.section-2-img-div-main{
  transform: scale(0.6) !important;
}


.section2-btn-main{
  width: 100% !important;
  justify-content: flex-start !important;
  display: flex !important;
  padding: 50px !important;
}


@media(max-width:425px){
  .section2-btn-main{
    justify-content: center !important;
    display: flex !important;
    padding: 20px !important;
    margin-bottom: 30px !important;
  }


  
}


.section2-view-all-btn{
  border-radius: 35px !important;
  border: 1px solid #E3E3E3 !important;
  height: 58px !important;
  padding: 0 50px !important;
  min-width: 185px !important;
  line-height: 58px !important;
  text-align: center !important;
  color: #1D2A4B !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  display: inline-block !important;
  -webkit-transition: .3s all !important;
  transition: .3s all !important;
}

.section2-view-all-btn:hover{
  background-color: rgb(238, 44, 44) !important;
  color: #fff !important;
}
/* ...........................................Section2.................................... */

/* .............................................Section3..................................... */

.section-3-container{
  border: 1px solid rgba(128, 128, 128, 0.322) !important;
  border-radius: 10px !important;
  box-shadow: 0px 13px 16px 0px rgb(0 0 0 / 4%) !important;
  width: 100% !important;
  height: auto !important;
  justify-content: center !important;
  margin-bottom: 80px !important;
  padding-bottom: 30px !important;
}

.section3-img-1{
  width: auto !important;
  height: auto !important;
  overflow: hidden !important;
  border-radius: 5px !important;
   /* margin-left: 50px !important;  */
}
@media(max-width:435px){
  .section3-img-1{
    margin-left: 0px !important;
    margin-bottom: 20px !important;
    display: contents !important;
    justify-content: center !important;
  }
}

.section3-img1-main{
border-radius: 5px !important;
/* transform: scale(1.1) !important; */
border: 1px solid rgb(224, 224, 224) !important;
}

.section-3-main-div{
  justify-content: center !important;
  display: flex !important;
  padding-bottom: 50px !important;
}

@media(max-width:425px){
  .section-3-main-div{
    display: grid !important;
    padding-bottom: 70px !important;
  }
}

.section3-text-div-main{
  padding-left: 10px !important;
}

.section3-text-1{
  color: #9b99b9 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  text-align: center !important;
}
.section3-text-2{
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  color: #000000 !important;
  text-align: center !important;
}





/* .............................................Section3..................................... */

/* ..............................................section4..................................... */

.section-4-container{
  border: 1px solid rgba(128, 128, 128, 0.322) !important;
  border-radius: 10px !important;
  box-shadow: 0px 13px 16px 0px rgb(0 0 0 / 4%) !important;
  width: 100% !important;
  /* height: auto !important; */
  justify-content: center !important;
  margin-bottom: 80px !important;
  height: 100% !important;
}



.section4-item-1{
  width: 100% !important;
  height: auto !important;
  justify-content: center !important;
padding: 40px !important;
border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
}

.section2-item-text4{
  color: #1D2A4B !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  margin-bottom: 50px !important;
  display: inline-block !important;
  border-bottom: 4px solid #f4a215 !important;
  letter-spacing: 0px !important;
}



.section4-item-text-4{
  font-size: 14px !important;
  color: #929292 !important;
  padding-top: 40px !important;
  font-weight: 500 !important;
}
@media(max-width:425px){
  .section2-item-text4{
    font-size: 20px !important;
    text-align: center !important;
    margin-bottom: 25px !important;
  }
  .section4-item-text-4{
   text-align: center !important;
  }
}

.section4-item-2{
width: 100% !important;
height: auto !important;
border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
justify-content: center !important;
align-items: center !important;
display: grid !important;
transition: 0.2s ease-in !important;
}

.section4-item-2:hover{
  transition: 0.2s ease-in !important;
background-color: #0e76a8 !important;
color: #fff !important;
}
.section4-item-2:hover .linkedin-text{
  color: #fff !important;
}

.section4-item-3:hover .linkedin-text{
  color: #fff !important;
}

.section4-item-4:hover .linkedin-text{
  color: #fff !important;
}

.section4-item-5:hover .linkedin-text{
  color: #fff !important;
}

.section4-item-3{
  width: 100% !important;
  height: auto !important;
  border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
  justify-content: center !important;
align-items: center !important;
display: grid !important;
transition: 0.2s ease-in !important;

  }
  .section4-item-3:hover{
    transition: 0.2s ease-in !important;
  background-color: #ff0000 !important;
  
  }


  .section4-item-4{
    width: 100% !important;
    height:auto !important;
    border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
    justify-content: center !important;
    align-items: center !important;
    display: grid !important;
    }
    
    @media(max-width:599px){
      .section4-item-4{
    border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important;

      }
    }

    .section4-item-4:hover{
      transition: 0.2s ease-in !important;
      background: #d6249f !important;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
    }

    .section4-item-4:hover .instagram-icon{
      color: #fff !important;
      transition: 0.5s ease !important;
    }
    .section4-item-2:hover .linkedin-icon{
      color: #fff !important;
      transition: 0.5s ease !important;
    }
    .section4-item-3:hover .youtube-icon{
      color: #fff !important;
      transition: 0.5s ease !important;
    }

    .section4-item-5:hover .facebook-icon{
      color: #fff !important;
      transition: 0.5s ease !important;
    }
    
    .section4-item-5{
      width: 100% !important;
      height: auto !important;
      /* border-right: 1px solid rgba(128, 128, 128, 0.322) !important; */
      justify-content: center !important;
align-items: center !important;
transition: 0.2s ease-in !important;

display: grid !important;
      }

      .section4-item-5:hover{
        transition: 0.2s ease-in !important;
      background-color: #3b5998 !important;
      
      }
      
      @media(max-width:899px){
        .section4-item-1{
          width: 100% !important;
           height: auto !important;
          justify-content: center !important;
        padding: 50px !important;
        border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important;
        }
        
        .section4-item-2{
          width: 100% !important;
          height: 200px !important;
          border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important;
          justify-content: center !important;
          align-items: center !important;
          display: grid !important;
          }
          
          .section4-item-3{
            width: 100% !important;
            height: 200px !important;
            border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important;
            justify-content: center !important;
          align-items: center !important;
          display: grid !important;
            }
          
          
            .section4-item-4{
              width: 100% !important;
              height:200px !important;
              /* border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important; */
              justify-content: center !important;
          align-items: center !important;
          display: grid !important;
              }
              .section4-item-5{
                width: 100% !important;
                height: 200px !important;
                /* border-right: 1px solid rgba(128, 128, 128, 0.322) !important; */
                justify-content: center !important;
          align-items: center !important;
          display: grid !important;
                }
      }

      .linkedin-icon{
        transform: scale(3) !important;
        color: #50556e !important;
      }
.linkedin-text{
  color: #1D2A4B !important;
  font-weight: 700 !important;
  margin-top: 0.4rem !important;
}
      
     
.linkedin-text{
  padding-top: 20px !important;
  text-align: center !important;
}

      .youtube-icon{
        transform: scale(3) !important;
        color: #50556e !important;
      }
      .instagram-icon{
        transform: scale(3) !important;
        color: #50556e !important;
      }
      .facebook-icon{
        transform: scale(3) !important;
        color: #50556e !important;
      }


/* ..............................................section4..................................... */

/* .................................................section6...................................... */


.section6-container{
  border: 1px solid rgba(128, 128, 128, 0.322) !important;
  border-radius: 10px !important;
  box-shadow: 0px 13px 16px 0px rgb(0 0 0 / 4%) !important;
  /* width: 100% !important; */
  height: auto !important;
  justify-content: center !important;
  margin-bottom: 80px !important;
}

.section6-img1{
  height: 100px !important;
  width: auto !important;
  padding: 10px !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  transition: 0.2s ease-in !important;

}

.section6-img1:hover{
  transform: scale(1.1) !important;

  transition: 0.2s ease-in !important;
}

.section-6-img{
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  height: 200px !important;
  width: 100% !important;
                border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
                border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important;
}

.section-6-img2{
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  height: auto !important;
  width: 100% !important;
                border-right: 1px solid rgba(128, 128, 128, 0.322) !important;
                border-bottom: 1px solid rgba(128, 128, 128, 0.322) !important;
}
@media(max-width:425px){
  .section-6-img2{
    height: 200px !important;
    border-right: 0px !important;
  }
  .section-6-img{
    border-right: 0px !important;
  }
}

.section6-img5{
  height: 100px !important;
  width: auto !important;
  padding: 10px !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;

}
.section6-imgs-div{
  padding: 0px !important;
  display: flex !important;
}

.section6-img-text{
  display: grid !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  transition: 0.4s ease !important;
}

.section-6-img2:hover{
  background-color: rgb(223, 223, 223) !important;
  transition: 0.4s ease !important;
}

.section-6-img:hover{
  background-color: rgb(223, 223, 223) !important;
  transition: 0.4s ease !important;
}

.map-selected {
  fill: #EDAD80 !important;
  width: 100% !important;
  height: 100% !important;
}

.map-unselected {
  fill: #D6D6D6 !important;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer !important;
}



.section6-text-1{
  color: #1D2A4B !important;
  font-weight: 700 !important;
}


.turkey-map-container{
  justify-content: center !important;
  /* display: flex !important; */
  padding: 20px !important;
}


/* .................................................section6...................................... */


/* ....................................................section8....................................... */

.section-8-main-div{
  justify-content: center !important;
 display: grid !important;
  /* padding-bottom: 50px !important; */
}

@media(max-width:425px){
  .section-8-main-div{
    display: grid !important;
    padding-bottom: 70px !important;
  }
}

/* ...................................................section8....................................... */


/* .................................................section9...................................... */


.section9-img-1{
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section9img1.jpg') !important;
border: 3px solid #fff !important;
justify-content: center !important;
align-items: center !important;
display: grid !important;
/* background-color: rgba(0, 0, 0, 0.4) !important; */
transition: 0.4s !important;

}

.section9-img-1:hover{
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #00000070 100%), url('../public/images/section9img1.jpg') !important;
  transition: 0.4s !important;
}

.section9-img-2{
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  transition: 0.4s !important;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section9img2.jpg') !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
border: 3px solid #fff !important;
}
.section9-img-2:hover{
  transition: 0.4s !important;
  
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #00000070 100%), url('../public/images/section9img2.jpg') !important;
}
.section9-img-3{
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section9img3.jpg') !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
border: 3px solid #fff !important;
transition: 0.4s !important;

}
.section9-img-3:hover{
  transition: 0.4s !important;

  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #00000070 100%), url('../public/images/section9img3.jpg') !important;
}

.section9-img-4{
  transition: 0.4s !important;

  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #00000070 100%), url('../public/images/section9img4.jpg') !important;
  
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
border: 3px solid #fff !important;
}
.section9-img-4:hover{
  transition: 0.4s  !important;

  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #00000070 100%), url('../public/images/section9img4.jpg') !important;
}


/* ..................................Footer................................... */


.footer-container{
  width: 100% !important;
   height: auto !important;
   background-color: #2B2B2B !important;
   padding: 80px !important;
   justify-content: center !important;
}

.footer-heading{
  font-weight: 700 !important;
    font-size: 14px!important;
    color: #ffffff !important;
    border-bottom: 4px solid #fff !important;
    text-align: center !important;
    text-transform: uppercase !important;
    margin: 20px !important;
}

.footer-heading-text{
  color: #d6d6d6 !important;
  font-size: 13px !important;
  padding-top: 20px !important;
  /* text-align: left !important; */
  text-transform: uppercase !important;
  padding-left: 20px !important;
}

.footer-content-div{
  width: 100% !important;
  height: auto !important;
}

/* ..................................Footer................................... */


/* .....................................map-section.................................. */


.mapsection-container{
  border: 1px solid rgba(128, 128, 128, 0.322) !important;
  border-radius: 10px !important;
  box-shadow: 0px 13px 16px 0px rgb(0 0 0 / 4%) !important;
  width: 100% !important;
  height: auto !important;
  justify-content: center !important;
  margin-bottom: 80px !important;
}


@media(max-width:760px){
  .map-display-none{
    display: none !important;
  }
}

@font-face {
   font-family: 'Roboto', sans-serif !important;
  src: local("'Roboto', sans-serif"), url(/fonts/Amatic_SC\,Cookie\,Jolly_Lodger\,Jost\,Lato\,etc.zip) format("truetype") !important;
}


/* .....................................map-section.................................. */

.section-1-btn{
  padding: 18px 45px !important;
  background: #1F365C !important;
  color: white !important;
  font-size: 16px !important;
  border-radius: 14px !important;
 width: 95% !important;
 margin-bottom: 10px !important;
 transition: 0.3s ease !important;

 height: 60px !important;
}
.section-1-btn:hover{
  background-color: rgb(243, 242, 242) !important;
  transition: 0.3s ease !important;
  color: #838A9B !important;

}

.section-1-btn-2{
  padding: 18px 45px !important;
  background: rgb(243, 242, 242) !important;
  color: #838A9B !important;
  font-size: 16px !important;
  border-radius: 14px !important;
 width: 95% !important;
 margin-bottom: 10px !important;
 font-weight: lighter !important;
 height: 60px !important;

}
.section-1-btn-2:hover{
  background: #1F365C !important;
  transition: 0.3s ease !important;
  color: white !important;
}

@media(max-width:899px){
  .section-1-btn{
      width: 98% !important;
  }
  .section-1-btn-2{
      width: 98% !important;
  }
}

@media(max-width:599px){
  .section-1-btn{
      width: 100% !important;
  }
  .section-1-btn-2{
      width: 100% !important;
  }
}

.home-section-2-slider-main{
  width: 100% !important;
  height: 380px !important;
  padding: 5px !important;
}

.home-section-2-slider-main-card{
  width: 100% !important;
  height: 360px !important;
  padding: 5px !important;
}

.home-section-2-cards:hover{
border: 1px solid #0559FD !important;
transition: 0.3s ease !important;

}



.section2-slider-card{
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F365C 100%), url(/images/slider-image.png) !important;
  width: auto !important;
  height: 100% !important;
  background-size: cover !important;
border-radius: 30px !important;
align-items: flex-end !important;
display: flex !important;
/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F365C 100%) !important; */
}

.home-section-2-slider-text{
  font-weight: bold !important;
  font-size: 28px !important;
  line-height: 44px !important;
  left: 70px !important;
  bottom: 50px !important;
  color: white !important;
  padding-bottom: 20px !important;
  text-align: center !important;
}

.home-section-2-cards{
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  padding: 12px 20px !important;
  background-color: rgb(243, 242, 242) !important;
  border-radius: 25px !important;
  margin-bottom: 15px !important;
  transition: 0.3s ease !important;
}

.home-section-2-card-img{
  padding: 5px 15px !important;
}

.home-section-2-card-text{
  width: 60% !important;
  font-weight: bold !important;
  font-size: 15px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  color: #313237 !important;
}

.home-section-2-card-info{

  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  background: #44F696 !important;

}

.home-section-2-card-text-2{
  
  font-size: 12px !important;
  line-height: 17px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  color: #BCC0CB !important;
  width: 20% !important;
padding-left: 5px !important;
}

.home-section-2-card-btn{
  display: inline-block !important;
  width: 100% !important;
  background: #0559FD !important;
  border-radius: 25px !important;
  padding: 20px 0px !important;
  text-align: center !important;
  font-size: 18px !important;
  color: #FFFFFF !important;
}

.home-section-2-card-btn:hover{
  background-color: #fff !important;
  color: #0559FD !important;
  border: 2px solid #0559FD !important;

}

.home-section-2-card-img-main{
 width: auto  !important;
}

/* ...........................media......................... */

@media(max-width:1237px){
  .home-section-2-card-text{
      width: 100% !important;
      font-size: 13px !important;
  }
  
 

  .home-section-2-cards{
      /* display: grid !important; */
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
  }

  .home-section-2-card-img-main{
      width: 100%  !important;
   }
   

}

.home-section-3-main-card{
  background-color: #fff !important;
 
  height: auto !important;
  border-radius: 25px !important;
  padding: 16px !important; 
  display: flex !important;
  margin-bottom: 40px !important;
}

.home-section-3-blog-img{
  width: auto !important;
  height: 100% !important;
  border-radius: 25px !important;
}

.home-section-3-card-text{
  padding-left: 25px !important;
  padding-right: 5px !important;
}

.home-section-3-text-1{
  font-weight: bold !important;
  font-size: 24px !important;
  color: #313237 !important;
  margin-bottom: 10px !important;
  line-height: 33px !important;
}

.home-section-3-text-2{
  font-size: 13px !important;
  line-height: 20px !important;
  color: #718797 !important;
  margin-bottom: 10px !important;
}

.home-section-3-text-3{
font-size: 14px !important;
color:#7F93A0 !important ;
}

.home-section-3-last-section{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.home-section-3-last-section-text-1{
      font-size: 18px !important;
  color: #313237 !important;
  font-weight: 500  !important ;
  padding-left: 5px !important;
}

.home-section-3-last-section-text-2{

  font-size: 14px !important;
  color: #718797  !important;

}

/* .home-section-3-main-div{
  display: flex !important;
} */

.home-section-3-card-2-div{
  padding: 28px 24px !important;
  background: #F3F2F2 !important;
  border-radius: 25px !important;
  /* margin-bottom: 40px !important; */
  height: auto  !important;
}

.home-section-3-serach{
  background: #F2F5F8 !important;
  border-radius: 12px !important;
  border: none !important;
}

.home-section-3-search-text{
  color: #C4C4C4 !important;
  font-size: 15px !important;
  text-align: center !important;
  padding-top: 10px !important;
}

/* .................................media.............................. */


 


.home-section-3-main-div{
background-color: #F3F2F2 !important;
width: 100% !important;
max-height: 370px !important;
padding: 16px !important;
border-radius: 25px !important;
margin-bottom: 10px !important;
display: flex !important;
transition: 0.3s !important;
align-items: center !important;
}


.home-section-3-main-div:hover{
  border: 1px solid blue !important;
  transition: 0.3s !important;
}

.blog-image-section-3{
  width:100% !important;
  height: 100% !important;
  border-radius: 25px !important;
}

.section-3-card-text-1{
  font-weight: bold !important;
  font-size: 24px !important;
  color: #313237 !important;
  margin-bottom: 10px !important;
}

.section-3-card-text-2{
  font-size: 13px !important;
  line-height: 20px !important;
  color: #718797 !important;
  margin-bottom: 10px !important;
}

.section-3-card-text-3{
  font-size: 13px !important;
  line-height: 20px !important;
  color: #718797 !important;
  margin-bottom: 10px !important;
}

.pagination{
  justify-content: center !important;
  display: flex !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}



@media(max-width:1300px){
  /* .home-sec-4-com{
      transform: scale(0.9) !important;
  } */

  .home-sec-4-com{
      justify-content: center !important;
      display: flex !important;
  }
}

@media(max-width:507px){
  .home-section-3-main-div{
      max-height: 400px !important;
  }
}

@media(max-width:452px){
  .home-section-3-main-div{
      margin-top: 50px !important;
  }
}

@media(max-width:446px){
  .home-section-3-main-div{
      max-height: 430px !important;
  }
}
@media(max-width:402px){
  .home-section-3-main-div{
      max-height: 500px !important;
  }
}

@media(max-width:382px){
  .home-section-3-main-div{
      max-height: 580px !important;
  }
}

@media(max-width:342px){
  .home-section-3-main-div{
      max-height: 600px !important;
  }
}

@media(max-width:388px){
  .home-section-3-main-div{
      margin-top: 110px !important;
  }
}

@media(max-width:371px){
  .home-section-3-main-div{
      margin-top: 170px !important;
  }
}

.home-section-4-main-card{
    background-color: #F3F2F2 !important;
    width: 365px !important;
    height: auto !important;
    border-radius: 25px !important;
    padding: 16px !important; 
    /* display: grid !important; */
    margin-bottom: 40px !important;
    margin-top: 10px !important;
    transition: 0.3s !important;
cursor: pointer !important;
}

.home-section-4-main-card:hover{
    border: 1px solid blue !important;
    transition: 0.3s !important;
}

/* @media(max-width:1300px){
    .home-section-4-main-card{
        transform: scale(0.9) !important;
    }
} */


.home-section-4-blog-img{
    width: 100% !important;
    height: auto !important;
    border-radius: 25px !important;
}

/* .home-section-4-card-text{
    padding-left: 25px !important;
    padding-right: 5px !important;
} */

.home-section-4-text-1{
    font-weight: bold !important;
    font-size: 24px !important;
    color: #313237 !important;
    margin-bottom: 10px !important;
    margin-top: 5px !important;
    line-height: 33px !important;
}

.home-section-4-text-2{
    font-size: 13px !important;
    line-height: 20px !important;
    color: #718797 !important;
    margin-bottom: 10px !important;
}

.home-section-4-text-3{
font-size: 14px !important;
color:#7F93A0 !important ;
margin-bottom: 10px !important;
}

.home-section-4-last-section{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.home-section-4-last-section-text-1{
        font-size: 18px !important;
    color: #313237 !important;
    font-weight: 500  !important ;
    padding-left: 5px !important;
}

.home-section-4-last-section-text-2{

    font-size: 14px !important;
    color: #718797  !important;

}

.border-bottom-main{
    justify-content: center !important;
    display: flex !important;
}

.border-bottom{
    border-bottom: 7px solid #0559FD !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}

@media(max-width:425px){
  .home-section-4-main-card{
    width: auto !important;
}
}

.border-bottom-main{
  justify-content: center !important;
  display: flex !important;
  margin-top: 20px !important;
}

.border-bottom{
  border-bottom: 7px solid #0559FD !important;
  width: 80% !important;
  margin-bottom: 10px !important;
}

.pagination{
  justify-content: center !important;
  display: flex !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
